@import "vars"

.container
	+wrapper()

.row
	+row-flex()

@media screen and (min-width: 1700px)

	.popup-content
		&::after
			content: ''
			right: 365px

@media screen and (max-width: 1100px)

	.table-wrapper
		overflow: hidden
		overflow-x: scroll
		width: 100%

	.table
		min-width: 1100px

	.header__logo
		justify-content: center
		width: 30%

	.search-wrapper
		width: 40%

	.account-logo-wrapper,
	.button-collapse-wrapper
		width: 15%
		justify-content: center

	.account-logo__a
		margin-right: 0

@media screen and (max-width: 780px)

	.mobile-none
		display: none

	.mobile-block
		display: -webkit-flex
		display: -ms-flex
		display: flex

	.search-wrapper--mobile
		width: 100%

	.header__logo
		width: 70%

@media screen and (max-width: 560px)

	.table
		margin-bottom: 50px

	.table-settings
		flex-wrap: wrap

	.table__title-wrapper
		width: 100%
		text-align: center

	.settings-wrapper
		width: 100%
		justify-content: space-around

		.sort-button
			margin: 0

	.login__h2
		margin-bottom: 0

	.login__a
		margin-bottom: 20px
