// Titles

h2
  font-size: $h2
  text-transform: uppercase

a
  color: $light-blue
  transition: 0.5s
  border-bottom: 1px solid transparent

  &:hover
    color: $accent-hover
    transition: 0.5s
    border-bottom: 1px dotted $light-blue
