.header--login
	display: block

.header__logo
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 100%
	justify-content: flex-start
	width: 20%

	.logo__h1
		color: #fff
		margin-left: 50px
		margin: 0

.logo__a
	border: 0

	&:hover
		border: 0

// Header search

.header-search
	width: 50%

// Header account icon

.account-logo-wrapper
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 100%
	justify-content: flex-end
	width: 25%

.account-logo__a
	align-items: center
	border: 0
	display: -ms-flex
	display: -webkit-flex
	display: flex
	justify-content: center
	margin-right: 100px

	i
		color: #fff
		font-size: 45px
		transition: 0.5s

	&:hover
		border: 0
		transition: 0.5s

		i
			color: $light-grey
			transition: 0.5s

// Burger button in header

.button-collapse-wrapper
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 100%
	justify-content: center
	width: 5%

.button-collapse--burger
	align-items: center
	border: 0
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 50px
	justify-content: center
	width: 50px

	&:hover
		border: 0

		i
			color: $light-grey

	i
		color: #fff
		font-size: 40px
		transition: 0.5s

#sidenav-overlay
	z-index: 998

nav a.sidenav-trigger
	display: block

// Navigation

.navigation
	width: 100%

	li
		align-items: center
		display: -ms-flex
		display: -webkit-flex
		display: flex
		justify-content: flex-start
		text-align: center
		width: 100%

		a
			height: 60px
			width: 100%
			display: -webkit-flex
			display: -ms-flex
			display: flex
			align-items: center
			font-size: 1.2em
			border: none

		&:hover
			a
				border: none

		svg
			margin: 0 20px
			height: 30px
			width: 30px

// Settings button in menu

.menu-settings-wrapper
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	justify-content: center
	width: 100%

.dropdown-settings
	width: 80%
	background: $blue
