.header
	align-items: center
	background: $blue
	display: -ms-flex
	display: -webkit-flex
	display: flex
	height: 100px
	justify-content: space-around
	width: 100%

.header--login
	display: block

.header__logo
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 100%
	justify-content: flex-start
	width: 20%

	.logo__h1
		color: #fff
		font-size: $h2
		margin-left: 50px
		margin: 0

.logo__a
	border: 0

	&:hover
		border: 0

// Header search

.search-wrapper
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 100%
	justify-content: center
	position: relative
	width: 50%

	.search
		background: #fff
		border-radius: 5px
		border: 0
		box-sizing: border-box
		color: $black
		display: block
		float: left
		height: 50px
		margin: 0
		padding: 0 45px 0 30px

		&:focus
			background: $light-grey
			border: none !important
			box-shadow: none !important
			outline: none

	.search__label
		align-items: center
		display: -ms-flex
		display: -webkit-flex
		display: flex
		justify-content: center
		position: absolute
		right: 20px
		top: 50%
		transform: translate(-50%, -50%)

		&:hover
			cursor: text

		i
			font-size: 30px
			transition: 0.5s

// Header account icon

.account-logo-wrapper
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 100%
	justify-content: flex-end
	width: 25%

.account-logo__a
	align-items: center
	border: 0
	display: -ms-flex
	display: -webkit-flex
	display: flex
	justify-content: center
	margin-right: 100px

	i
		color: #fff
		font-size: 45px
		transition: 0.5s

	&:hover
		border: 0
		transition: 0.5s

		i
			color: $light-grey
			transition: 0.5s

// Burger button in header

.button-collapse-wrapper
	align-items: center
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 100%
	justify-content: center
	width: 5%

.button-collapse--burger
	align-items: center
	border: 0
	display: -ms-flex
	display: -webkit-flex
	display: flex
	float: left
	height: 50px
	justify-content: center
	width: 50px

	&:hover
		border: 0

		i
			color: $light-grey

	i
		color: #fff
		font-size: 40px
		transition: 0.5s

#sidenav-overlay
	z-index: 998

// Navigation

.navigation
	width: 100%

	li
		align-items: center
		display: -ms-flex
		display: -webkit-flex
		display: flex
		justify-content: flex-start
		text-align: center
		width: 100%

		a
			height: 60px
			width: 100%
			display: -webkit-flex
			display: -ms-flex
			display: flex
			align-items: center
			font-size: 1.2em
			border: none

		&:hover
			a
				border: none

		svg
			margin: 0 20px
			height: 30px
			width: 30px

//Dropdown in header

.dropdown-content--account-popup
	margin-top: 65px

.dropdown-content--account-popup
	overflow-y: visible
	width: 400px !important

.popup-content
	position: relative
	display: block
	background: $light-grey

	&:hover
		background: $light-grey !important
		cursor: auto !important

	&::after
		content: ''
		position: absolute
		right: 15px
		top: -17px
		transform: rotate(90deg)
		border-style: solid
		border-width: 10px 14px 10px 0
		border-color: rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)

	// Popup name

	.member__wrapper
		display: -webkit-flex
		display: -ms-flex
		display: flex
		width: 100%

	.popup__name
		padding: 20px 0
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-wrap: wrap

	.popup__avatar
		padding: 0 20px

		i
			color: $blue

	.popup__member-wrapper
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: column
		align-items: center

	.popup__member-name
		font-size: 20px
		text-transform: none
		margin: 0
		width: 100%

	.popup__member-mail
		font-size: 15px
		margin: 10px 0 0 0
		width: 100%
		color: darken($light-grey, 30%)

	.popup__member-position
		font-size: 15px
		width: 100%

	.popup__groups
		display: -webkit-flex
		display: -ms-flex
		display: flex
		width: 100%
		margin-top: 20px

	.groups__title-wrapper
		display: -webkit-flex
		display: -ms-flex
		display: flex
		justify-content: flex-end
		align-items: flex-start
		width: 30%

		.popup__member-position
			text-align: right
			margin-top: 0

	.groups__ul-wrapper
		width: 70%
		display: -webkit-flex
		display: -ms-flex
		display: flex
		justify-content: center
		align-items: center

	.groups__list
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-wrap: wrap
		width: 100%
		margin: 0 15px

		li
			display: -webkit-flex
			display: -ms-flex
			display: flex
			align-items: center
			font-size: 15px
			width: 12%
			margin-right: 10px
			min-height: 20px

			&:hover
				cursor: text !important
				background: transparent !important

			&::after
				content: ","

	.popup__logout
		width: 100%
		margin-top: 30px
		display: -webkit-flex
		display: -ms-flex
		display: flex
		justify-content: space-around

		.pass__button
			background: $blue

			&:hover
				background: lighten($blue, 5%)
